typedef struct {
    @@ELEM_T@@ data[@@LEN@@];
} z_@@NAME@@_t;

#define z_@@NAME@@_length @@LEN@@

static z_@@NAME@@_t z_@@NAME@@_create(void);
static z_@@NAME@@_t z_@@NAME@@_create(void) {
@@CREATE_BODY@@
    return _this;
}

static @@ELEM_T@@ z_@@NAME@@_get(z_@@NAME@@_t _this, int64_t _idx);
static @@ELEM_T@@ z_@@NAME@@_get(z_@@NAME@@_t _this, int64_t _idx) {
    if (_idx < 0 || _idx >= @@LEN@@) {
        char _zp_buf[96];
        snprintf(_zp_buf, sizeof(_zp_buf), "array get: index %ld out of bounds (length @@LEN@@)", (long)_idx);
        z_panic(_zp_buf);
    }
    return _this.data[_idx];
}

static @@ELEM_T@@ z_@@NAME@@_set(z_@@NAME@@_t* _this, int64_t _idx, @@ELEM_T@@ _val);
static @@ELEM_T@@ z_@@NAME@@_set(z_@@NAME@@_t* _this, int64_t _idx, @@ELEM_T@@ _val) {
    if (_idx < 0 || _idx >= @@LEN@@) {
        char _zp_buf[96];
        snprintf(_zp_buf, sizeof(_zp_buf), "array set: index %ld out of bounds (length @@LEN@@)", (long)_idx);
        z_panic(_zp_buf);
    }
    @@ELEM_T@@ _old = _this->data[_idx];
    _this->data[_idx] = _val;
    return _old;
}

@@EQ_BODY@@
