static void z_@@NAME@@_insert(z_@@NAME@@_t* _this, @@ELEM_T@@ _val, uint64_t _at);
static void z_@@NAME@@_insert(z_@@NAME@@_t* _this, @@ELEM_T@@ _val, uint64_t _at) {
    if (_at >= _this->length + 1) {
        char _zp_buf[96];
        snprintf(_zp_buf, sizeof(_zp_buf), "List insert: index %lu out of bounds (length %lu)", (unsigned long)_at, (unsigned long)_this->length + 1);
        z_panic(_zp_buf);
    }
    z_@@NAME@@_grow(_this, _this->length + 1);
    memmove(&_this->data[_at + 1], &_this->data[_at], (_this->length - _at) * sizeof(@@ELEM_T@@));
    _this->data[_at] = _val;
    _this->length++;
}
