static void z_@@NAME@@_extend(z_@@NAME@@_t* _this, z_@@NAME@@_t* _from);
static void z_@@NAME@@_extend(z_@@NAME@@_t* _this, z_@@NAME@@_t* _from) {
    if (!_from) return;
    z_@@NAME@@_grow(_this, _this->length + _from->length);
    memcpy(&_this->data[_this->length], _from->data, _from->length * sizeof(@@ELEM_T@@));
    _this->length += _from->length;
    free(_from->data);
    _from->data = NULL;
    _from->length = 0;
    _from->capacity = 0;
}
