typedef struct {
    uint64_t length;
    @@ELEM_T@@* data;
} z_@@NAME@@_t;

static @@ELEM_T@@ z_@@NAME@@_get(z_@@NAME@@_t* _this, uint64_t _idx);
static @@ELEM_T@@ z_@@NAME@@_get(z_@@NAME@@_t* _this, uint64_t _idx) {
    if (_idx >= _this->length) {
        fprintf(stderr, "listview get: index %lu out of bounds (length %lu)\n", (unsigned long)_idx, (unsigned long)_this->length);
        exit(1);
    }
    return _this->data[_idx];
}

