typedef struct {
    uint64_t length;
    @@ELEM_T@@* data;
} z_@@NAME@@_t;

static @@ELEM_T@@ z_@@NAME@@_get(z_@@NAME@@_t* _this, uint64_t _idx);
static @@ELEM_T@@ z_@@NAME@@_get(z_@@NAME@@_t* _this, uint64_t _idx) {
    if (_idx >= _this->length) {
        char _zp_buf[96];
        snprintf(_zp_buf, sizeof(_zp_buf), "listview get: index %lu out of bounds (length %lu)", (unsigned long)_idx, (unsigned long)_this->length);
        z_panic(_zp_buf);
    }
    return _this->data[_idx];
}

