static void z_@@NAME@@_resize(z_@@NAME@@_t* _this, uint64_t _to);
static void z_@@NAME@@_resize(z_@@NAME@@_t* _this, uint64_t _to) {
    z_@@NAME@@_grow(_this, _to);
    if (_to > _this->length) memset(_this->data + _this->length, 0, (_to - _this->length) * sizeof(@@ELEM_T@@));
    _this->length = _to;
}
