typedef struct {
    z_@@NAME@@_t* m;
    uint64_t idx;
} z_@@MAPKEYITER@@_t;

static z_@@OPTIONVIEW_K@@_t z_@@MAPKEYITER@@_call(z_@@MAPKEYITER@@_t* _it);
static z_@@OPTIONVIEW_K@@_t z_@@MAPKEYITER@@_call(z_@@MAPKEYITER@@_t* _it) {
    z_@@OPTIONVIEW_K@@_t _out = {0};
    while (_it->idx < _it->m->entries_len) {
        if (_it->m->entries[_it->idx].alive) {
            _out.tag = Z_@@OPTIONVIEW_K_TAG@@_TAG_SOME;
            _out.data = &_it->m->entries[_it->idx].key;
            _it->idx++;
            return _out;
        }
        _it->idx++;
    }
    _out.tag = Z_@@OPTIONVIEW_K_TAG@@_TAG_NONE;
    return _out;
}

static z_@@MAPKEYITER@@_t z_@@NAME@@_iterate(z_@@NAME@@_t* _this);
static z_@@MAPKEYITER@@_t z_@@NAME@@_iterate(z_@@NAME@@_t* _this) {
    z_@@MAPKEYITER@@_t _it = {0};
    _it.m = _this;
    _it.idx = 0;
    return _it;
}

typedef z_@@NAME@@_entry_t z_@@MAPENTRY@@_t;

typedef struct {
    z_@@NAME@@_t* m;
    uint64_t idx;
} z_@@MAPITEMITER@@_t;

static z_@@OPTIONVIEW_ENTRY@@_t z_@@MAPITEMITER@@_call(z_@@MAPITEMITER@@_t* _it);
static z_@@OPTIONVIEW_ENTRY@@_t z_@@MAPITEMITER@@_call(z_@@MAPITEMITER@@_t* _it) {
    z_@@OPTIONVIEW_ENTRY@@_t _out = {0};
    while (_it->idx < _it->m->entries_len) {
        if (_it->m->entries[_it->idx].alive) {
            _out.tag = Z_@@OPTIONVIEW_ENTRY_TAG@@_TAG_SOME;
            _out.data = &_it->m->entries[_it->idx];
            _it->idx++;
            return _out;
        }
        _it->idx++;
    }
    _out.tag = Z_@@OPTIONVIEW_ENTRY_TAG@@_TAG_NONE;
    return _out;
}

static z_@@MAPITEMITER@@_t z_@@NAME@@_iterateItems(z_@@NAME@@_t* _this);
static z_@@MAPITEMITER@@_t z_@@NAME@@_iterateItems(z_@@NAME@@_t* _this) {
    z_@@MAPITEMITER@@_t _it = {0};
    _it.m = _this;
    _it.idx = 0;
    return _it;
}

static @@KEY_T@@ z_@@MAPENTRY@@_key(z_@@MAPENTRY@@_t* _e);
static @@KEY_T@@ z_@@MAPENTRY@@_key(z_@@MAPENTRY@@_t* _e) {
    return _e->key;
}

static @@VAL_T@@ z_@@MAPENTRY@@_value(z_@@MAPENTRY@@_t* _e);
static @@VAL_T@@ z_@@MAPENTRY@@_value(z_@@MAPENTRY@@_t* _e) {
    return _e->value;
}
