typedef struct {
@@VTABLE_FUNCS@@} z_@@NAME@@_vtable_t;

typedef struct {
    void* data;
    z_@@NAME@@_vtable_t* vtable;
    void (*destroy)(void*);
} z_@@NAME@@_t;

static void z_@@NAME@@_destroy(z_@@NAME@@_t* proto) {
    if (!proto) return;
    if (proto->destroy) proto->destroy(proto->data);
    proto->destroy = NULL;
}

