static void z_@@NAME@@_fill(z_@@NAME@@_t* _this, @@ELEM_T@@ _val);
static void z_@@NAME@@_fill(z_@@NAME@@_t* _this, @@ELEM_T@@ _val) {
    for (uint64_t _i = 0; _i < _this->length; _i++) _this->data[_i] = _val;
}
