static z_@@NAME@@_t z_@@NAME@@_slice(z_@@NAME@@_t* _this, uint64_t _from, uint64_t _to);
static z_@@NAME@@_t z_@@NAME@@_slice(z_@@NAME@@_t* _this, uint64_t _from, uint64_t _to) {
    if (_from > _to || _to > _this->length) {
        char _zp_buf[128];
        snprintf(_zp_buf, sizeof(_zp_buf), "SpanVal slice: [%lu, %lu) out of bounds (length %lu)", (unsigned long)_from, (unsigned long)_to, (unsigned long)_this->length);
        z_panic(_zp_buf);
    }
    return (z_@@NAME@@_t){ .length = _to - _from, .data = _this->data + _from };
}
