typedef struct {
    @@LEN_T@@ len;
    char data[@@CAP@@];
} z_@@NAME@@_t;

#define z_@@NAME@@_size @@CAP@@

static z_@@NAME@@_t z_@@NAME@@_create(void);
static z_@@NAME@@_t z_@@NAME@@_create(void) {
    z_@@NAME@@_t _this = {0};
    return _this;
}

static z_String_t z_@@NAME@@_string(z_@@NAME@@_t _this);
static z_String_t z_@@NAME@@_string(z_@@NAME@@_t _this) {
    z_String_t z = {0};
    z.size = _this.len;
    z.capacity = _this.len + 1;
    z.data = (char*)z_xmalloc(z.capacity);
    memcpy(z.data, _this.data, _this.len);
    z.data[_this.len] = '\0';
    return z;
}

static z_@@NAME@@_t z_String_to_@@NAME@@(const char* data, uint64_t len);
static z_@@NAME@@_t z_String_to_@@NAME@@(const char* data, uint64_t len) {
    z_@@NAME@@_t r = {0};
    uint64_t n = len < @@CAP@@ ? len : @@CAP@@;
    r.len = (@@LEN_T@@)n;
    memcpy(r.data, data, n);
    return r;
}

@@EQ_BODY@@
